
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<strong> This is the index!</strong>

@Html.TextBox("test")


<div id="partialView"> This is the partial view!</div>
<button> testing button</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="@Url.Content("~/Scripts/custom/TestingJavaScript.js")"></script>

